.countdown-timer{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.countdown-timer .timers-view svg{
  background-color: #23272A;
  outline: 2px solid darkslategray;
  box-shadow: 0px 0px 10px rgba(50,50,50, 0.5);
}

.countdown-timer .timers-view svg text{
  text-anchor: middle;
}

.countdown-timer .timers-view svg text .value{
  font-size: 29px;
  font-weight: 500;
  fill: whitesmoke;
  letter-spacing: 1px;
}

.countdown-timer .timers-view svg text .title{
  font-size: 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.countdown-timer .timers-view svg circle{
  stroke-linecap: round;
  stroke-width: 9px;
  fill: none;
  r: 50;
  cy: 70;
  filter: url(#circle-shadow);
}

.countdown-timer .timers-view svg circle.empty{
  stroke: #1C2023;
}

.countdown-timer .timers-view svg circle.filled{
  transform: rotate(-90deg);
  stroke-dashoffset: 314px; /* corrected circumference */
  stroke-linecap: square;
  transition: all 1s linear;
}
.countdown-timer .timers-view svg #hours circle.filled{
  transform-origin: 16.4% 46.5% 0; /* centering after transform */
}
.countdown-timer .timers-view svg #minutes circle.filled{
  transform-origin: 49.4% 46.5% 0;
}
.countdown-timer .timers-view svg #seconds circle.filled{
  transform-origin: 82.4% 46.5% 0;
}

.countdown-timer .timers-view svg #hours text .title{
  stroke: #438EFD;
}
.countdown-timer .timers-view svg #hours circle.filled{
  stroke: #438EFD;
}

.countdown-timer .timers-view svg #minutes text .title{
  stroke: #9AE377;
}
.countdown-timer .timers-view svg #minutes circle.filled{
  stroke: #9AE377;
}

.countdown-timer .timers-view svg #seconds text .title{
  stroke: #FDDA50;
}
.countdown-timer .timers-view svg #seconds circle.filled{
  stroke: #FDDA50;
}


.timers-input{
  margin-top: 15px;
} 
.timers-input .timers-visibility{
  display: flex;
  justify-content: center;
}
.timers-input .timers-visibility input{
  margin: 7px;
}