.app .title{
  text-align: center;
  margin: 0;
  padding: 15px 0;
}

/* button styles were inspired by bootstrap */
.app .btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s;

  margin: 10px;
  padding: 2px 5px;
  min-width: 60px;
  min-height: 25px;
}

.app .btn.start{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.app .btn.start:hover{
  color: #fff;
  cursor: pointer;
  background-color: #0069d9;
  border-color: #0062cc;
}
.app .btn.reset{
  color: #fff;
  cursor: pointer;
  background-color: #bd2130;
  border-color: #b21f2d;
}
.app .btn.reset:hover{
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}